.gameContainer {
  margin-top: 10vh;
}

.score {
 font-size: 36px;
 font-weight: 900;
 text-align: center;
 margin-bottom: 10vh;
 color: #303030;
}

.answerButton {
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  
  font-weight: 900;
  font-size: 36px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #459e4b;
  color: #eff9ff;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.isAnswering {
  background-color: #357ecf;
}

.blockedButton {
  background-color: #ccc;
  color: #eff9ff;
}

.falseStart {
  background-color: #c43a3a;
}

.gameCurrency {
 font-size: 36px;
 color: #303030;
 margin-left: 10px;
}